[/]
default-profile-uuid='770ca4311b666706b08bd90169bc1f01'
profile-uuids=['770ca4311b666706b08bd90169bc1f01']
window-size=(uint32 169, uint32 43)

[Shortcuts]
close-tab='<Control>w'
copy-clipboard='<Control>c'
new-tab='<Control>t'
new-window='<Control>n'
paste-clipboard='<Control>v'
select-all='<Control>a'
tab-overview='<Shift><Control>t'
toggle-fullscreen='<Shift><Control>f'
undo-close-tab='<Shift><Control>w'
